<!DOCTYPE html>
<html lang="en">
<title>Profesores | SpringUniversity</title>

<head th:replace="~{base::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav th:replace="~{base::nav}"></nav>
    <div class="col-10 mx-auto d-flex flex-column justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center mt-2 col-10">Profesores</h1>
            <a href="/profesores/new">
                <button class="btn btn-primary h-50 mt-2">Crear nuevo profesor</button>
            </a>
        </div>
        <div class="container text-center">
            <div th:if="${profesores.size() == 0}"
                class="d-flex justify-content-center align-items-center mt-5 rounded-5"
                style="background-color: rgb(217, 217, 217); height: 10rem;">
                <h3>
                    <box-icon name='sad' type='solid' color='#202020'></box-icon>No hay profesores registrados aún.
                </h3>
            </div>
            <div th:if="${profesores.size() > 0}" class="container mt-4 mb-5">
                <div class="col-6 mb-4 mx-auto" th:each="profesor : ${profesores}">
                    <div class="card">
                        <div class="card-body d-flex gap-5">
                            <img th:src="${profesor.ruta_foto}" class="rounded-3 col-1" alt="Imagen del profesor" style="object-fit:cover;">
                            <h5 class="col-5 mt-3 mb-3" th:text="${profesor.primer_nombre} + ' ' + ${profesor.primer_apellido}"></h5>
                            <div class="d-flex col-4 gap-3 justify-content-end align-items-center">
                                <a style="text-decoration: none;" th:href="@{/profesores/view/{id}(id=${profesor.id})}">
                                    <button class="btn btn-info align-items-center d-flex"><box-icon name='search'></box-icon></box-icon></button>
                                </a>
                                <a style="text-decoration: none;">
                                    <button class="btn btn-warning align-items-center d-flex"><box-icon type='solid' name='edit-alt'></box-icon></button>
                                </a>
                                <form method="post">
                                    <button class="btn btn-danger align-items-center d-flex"><box-icon name='trash' type='solid'></box-icon></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{base::footer}"></footer>
</body>

</html>