<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>Crear Curso | SpringUniversity</title>
<head th:replace="~{base::head}">
</head>
<body>
    <nav th:replace="~{base::nav}"></nav>
    <div class="col-10 mx-auto d-flex flex-column justify-content-center">
        <h1 class="text-center mt-2">Crear Nuevo Curso</h1>
        <form action="/cursos/create" class="d-flex flex-column w-50 mx-auto"  method="post" enctype="multipart/form-data">
            <label for="nombre" class="mt-4 text-center">Nombre del curso:</label>
            <input type="text" id="nombre" class="h-50 w-50 mx-auto" name="nombre_curso" />
            <label for="foto" class="text-center">Foto del curso:</label>
            <input type="file" id="foto" class="h-50 w-50 mx-auto" name="foto" />
            <button type="submit" class="btn btn-primary mt-2 mb-5 w-25 mx-auto">Guardar curso</button>
        </form>
    </div>
    <footer th:replace="~{base::footer}"></footer>
</body>
</html>