<!DOCTYPE html>
<html lang="en">
<title>Notas | SpringUniversity</title>

<head th:replace="~{base::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav th:replace="~{base::nav}"></nav>
    <h2 th:text="'Notas de la materia: ' + ${materia.nombre_materia}" class="text-center mt-3 mb-3"></h2>
    <div th:each="nota : ${notas}">
        <div class="row justify-content-center mb-4 col-4 mx-auto">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center gap-3">
                    <h6 class="col-3" th:text="${nota.estudiante.primer_nombre} + ' ' + ${nota.estudiante.primer_apellido}"></h6>
                    <h6 th:text="'Fecha: ' + ${nota.fecha}" style="color: rgb(144, 144, 144);" class="col-7 text-center"></h6>
                    <h5 class="text-end col-2" th:if="${nota.nota} >= 3.0">
                        <span style="color: rgb(4, 131, 0);" th:text="${nota.nota}"></span> / <span style="color: gray;">5.0</span>
                    </h5>
                    <h5 class="text-end col-2" th:if="${nota.nota} < 3.0">
                        <span style="color: red;" th:text="${nota.nota}"></span> / <span style="color: gray;">5.0</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <footer th:replace="~{base::footer}"></footer>
</body>